.App {
  text-align: center;
  padding-bottom: 10vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridContainer{
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 5px;

}

.gridContainer .gridBox {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background: #fff;
  overflow: hidden;
  break-inside: avoid;
  /* box-shadow: 1px 1px 10px #FF8888; */
}

.gridContainer .gridBox img{
  max-width: 100%;
}
.gridContainer .gridBox h2{
  margin: 5px 0 0;
  padding: 0;
  font-size: 20px;
}

.gridContainer .gridBox p{
  margin: 0;
  padding: 0 0 5;
  font-size: 16px;
}
@media (max-width: 1200px){
  .gridContainer{
    columns: 3;
    width: calc(100%-40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 768px){
  .gridContainer{
    columns: 2;

  }
}

@media (max-width: 480px){
  .gridContainer{
    columns: 1;
    
  }
}

.text {
  display: -webkit-box;   
  -webkit-line-clamp: 3;   
  -webkit-box-orient: vertical;     
  overflow: hidden; 
}

.text:hover {
  display: -webkit-box;   
  -webkit-line-clamp: 0;   
  -webkit-box-orient: horizontal;     
  overflow: visible; 
}

@keyframes ldio-68t2ax9fux {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.ldio-68t2ax9fux div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio-68t2ax9fux 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-68t2ax9fux div:nth-child(1) {
  transform: translate(30px,0);
  background: #e15b64;
  animation-delay: -0.6s;
}.ldio-68t2ax9fux div:nth-child(2) {
  transform: translate(70px,0);
  background: #f47e60;
  animation-delay: -0.4s;
}.ldio-68t2ax9fux div:nth-child(3) {
  transform: translate(110px,0);
  background: #f8b26a;
  animation-delay: -0.2s;
}.ldio-68t2ax9fux div:nth-child(4) {
  transform: translate(150px,0);
  background: #abbd81;
  animation-delay: -1s;
}
.loadingio-spinner-bars-pxwyvu3ouwq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-68t2ax9fux {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-68t2ax9fux div { box-sizing: content-box; }
